@font-face {
    font-family: 'unb_officeregular';
    src: url('unb-office_regular-webfont.eot');
    src: url('unb-office_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('unb-office_regular-webfont.woff2') format('woff2'),
         url('unb-office_regular-webfont.woff') format('woff'),
         url('unb-office_regular-webfont.ttf') format('truetype'),
         url('unb-office_regular-webfont.svg#unb_officeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

