@charset "utf-8";

/*hope all this works - i tried the reset and it made too much of a mess so I left it out 
*/

/*font stuff */

@font-face{ 
	font-family: 'unboffice_bold_macroman';
	src: url('unboffice_bold_macroman-WebFont.eot');
	src: url('unboffice_bold_macroman-WebFont.eot?iefix') format('eot'),
	     url('unboffice_bold_macroman-WebFont.woff') format('woff'),
	     url('unboffice_bold_macroman-WebFont.ttf') format('truetype'),
	     url('unboffice_bold_macroman-WebFont.svg#webfont') format('svg');
}

.logo {
	font-family: 'unboffice_bold_macroman';
}

.about-content {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h4 {
	color: #72a9ae;
}

header {
	background-color: white
	width: 100%;
}

.desktop-nav {
	background-color: #72a9ae;
	list-style-type: none;
	text-align: left;
	margin: 0;
  	padding: 0;
}

.desktop-nav li {
  display: inline-block;
  font-size: 16px;
  padding: 16px;
}

a:link {
  text-decoration: none;
}

body {
	background-image: url(../img/dynamic-style.webp);
}

.about-content p {
	width: 60%;
}

.about-content figure {
	width: 33%;
	float: right;
}


.main-table {
	border-collapse: collapse;
 	width: 100%;
}

.main-table td, .main-table th {
	border: 1px solid #ddd;
 	padding: 8px;
}

.main-table tr:nth-child(even){background-color: #f2f2f2;}

.main-table tr:hover {background-color: #ddd;}

.main-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: lightblue;
}


.card {
	background-color: white;
	width: 20%;
	float: right;
	padding: 40px;
	margin: 20px;
}

.profile {
	border-radius: 50%
}

.profile-h {
	float: right;
	width: 20%;
}

footer {
	display: block;
	background-color: #454545;
}

.foot-container {
	display: inline-block;
	color: white;
	width: 100%;
}

.footer-nav {
	float: left;
	width: 30%;
}

.sm {
	padding: 10px;
	font-size: 20px;
	width: 30%;
}

.foot-address-container {
	float: right;
	margin: auto;
	padding-bottom: 100px;
	width: 30%;
}
